.navbar {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: orchid;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;

  margin-left: 0.5em;
}

.navbar img {
  padding-top: 0.4em;
}

.item {
  margin-right: 1em;
  font-size: 1.5em;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: indigo;
}
